<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=GBK">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelAnt</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
<div class= "addbox">
    
<form class="form-horizontal" method="get" action="/addT">
<fieldset>

<!-- Form Name -->
<!--<legend>TravelAnt</legend> !-->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">TripName</label>  
  <div class="col-md-4">
  <input id="textinput" name="tripName" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Destination</label>  
  <div class="col-md-4">
  <input id="textinput" name="destination" type="text" placeholder="" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="startDate">Start Date</label>  
  <div class="col-md-4">
  <input id="startDate" name="startDate" type="text" placeholder="2017-01-01" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="enddate">End Date</label>  
  <div class="col-md-4">
  <input id="enddate" name="endDate" type="text" placeholder="2017-01-01" class="form-control input-md">
    
  </div>
</div>


<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Create"></label>
  <div class="col-md-8">
    <button id="Create" name="Create" type="submit" class="btn btn-primary">Create</button>
    <button id="Cancel" name="Cancel" type="button" class="btn btn-danger" action>Cancel</button>
  </div>
</div>

</fieldset>
</form>
    </div>
    
<script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>