<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F70468076416157" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F70468076416157" title="oEmbed Form">
<meta property="og:title" content="JotForm" >
<meta property="og:url" content="http://www.jotform.us/form/70468076416157" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="HandheldFriendly" content="true" />
	
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.17512" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.17512" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.17512" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=58a447c19a11c7fa688b4569"/>
    
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TravelAnt</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/mystyles.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap-social.css" rel="stylesheet">
<link href="css/simple-sidebar.css" rel="stylesheet">
<style type="text/css">
    .form-label-left{
        width:150px !important;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px !important;
    }
    body, html{
        margin:0;
        padding:0;
        background:#fff;
    }

    .form-all{
        margin:0px auto;
        padding-top:20px;
        width:420px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:16px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: false;
    }

</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/
    .form-label.form-label-auto {
      
    display: inline-block;
    float: left;
    text-align: left;
  
    }
  
    .form-line {
      margin-top: 12px 36px 12px 36px px;
      margin-bottom: 12px 36px 12px 36px px;
    }
  
    .form-all {
      width: 420px;
    }
  
    .form-label-left,
    .form-label-right {
      width: 150px
    }
  
    .form-all {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Lucida Grande, sans-serif;
    }
    .form-header-group {
      font-family: Lucida Grande, sans-serif;
    }
    .form-label {
      font-family: Lucida Grande, sans-serif;
    }
  
    .form-all {
      font-size: 16px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 16px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: #fff;
      border: 1px solid transparent;
    }
  
    .form-all {
      color: #555;
    }
    .form-header-group .form-header {
      color: #555;
    }
    .form-header-group .form-subHeader {
      color: #555;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #555;
    }
  
    .supernova {
      background-color: undefined;
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: undefined;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>

<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-light.css?3.3.17512"/>
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-blue.css?3.3.17512"/>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.17512" type="text/javascript"></script>
<script src="https://js.jotform.com/vendor/postMessage.js?3.3.17512" type="text/javascript"></script>
<script src="https://js.jotform.com/WidgetsServer.js?v=1487305286935" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 JotForm.setCalendar("33", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""});

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 JotForm.setCalendar("34", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""});
   });
</script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotform.us/submit/70468076416157/" method="post" name="form_70468076416157" id="70468076416157" accept-charset="utf-8">
  <input type="hidden" name="formID" value="70468076416157" />
  <div class="form-all">
    <ul class="form-section page-section">
      <li class="form-line" data-type="control_widget" id="id_36">
        <div id="cid_36" class="form-input-wide jf-required">
          <div style="width:100%;text-align:Left;" data-component="widget-field">
            <iframe frameborder="0" scrolling="no" allowtransparency="true" data-type="iframe" class="custom-field-frame" id="customFieldFrame_36" src="" style="border:none;width:350px;height:70px;" data-width="350" data-height="70">
            </iframe>
            <div class="widget-inputs-wrapper">
              <input id="input_36" class="form-hidden form-widget  " type="hidden" name="q36_clickTo" value="" />
              <input id="widget_settings_36" class="form-hidden form-widget-settings" type="hidden" value="%5B%7B%22name%22%3A%22labeltxt%22%2C%22value%22%3A%22Trip%20Name%22%7D%2C%7B%22name%22%3A%22placeholder%22%2C%22value%22%3A%22No%22%7D%5D" data-version="2" />
            </div>
            <script type="text/javascript">
            setTimeout(function()
{
  var _cFieldFrame = document.getElementById("customFieldFrame_36");
  _cFieldFrame.onload = function()
  {
    widgetFrameLoaded(36, {
      "formID": 70468076416157
    })
  };
  _cFieldFrame.src = "//widgets.jotform.io/labelless/?qid=36&ref=" + encodeURIComponent(window.location.protocol + "//" + window.location.host);
  _cFieldFrame.addClassName("custom-field-frame-rendered");
}, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_38">
        <label class="form-label form-label-left form-label-auto" id="label_38" for="input_38"> Destination </label>
        <div id="cid_38" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align:top;">
            <input type="text" id="input_38" name="q38_destination" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
            <label class="form-sub-label" for="input_38" style="min-height:13px;"> Country or City </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_33">
        <label class="form-label form-label-left form-label-auto" id="label_33" for="input_33"> Start Time </label>
        <div id="cid_33" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input class="form-textbox validate[limitDate]" id="month_33" name="q33_startTime33[month]" type="tel" size="2" data-maxlength="2" value="" />
              <span class="date-separate">
                 -
              </span>
              <label class="form-sub-label" for="month_33" id="sublabel_month" style="min-height:13px;"> Month </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input class="form-textbox validate[limitDate]" id="day_33" name="q33_startTime33[day]" type="tel" size="2" data-maxlength="2" value="" />
              <span class="date-separate">
                 -
              </span>
              <label class="form-sub-label" for="day_33" id="sublabel_day" style="min-height:13px;"> Day </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input class="form-textbox validate[limitDate]" id="year_33" name="q33_startTime33[year]" type="tel" size="4" data-maxlength="4" value="" />
              <label class="form-sub-label" for="year_33" id="sublabel_year" style="min-height:13px;"> Year </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <img class="showAutoCalendar" alt="Pick a Date" id="input_33_pick" src="https://cdn.jotfor.ms/images/calendar.png" style="vertical-align:middle;" data-component="datetime" />
              <label class="form-sub-label" for="input_33_pick" style="min-height:13px;">  </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_34">
        <label class="form-label form-label-left form-label-auto" id="label_34" for="input_34"> End Time </label>
        <div id="cid_34" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input class="form-textbox validate[limitDate]" id="month_34" name="q34_endTime[month]" type="tel" size="2" data-maxlength="2" value="" />
              <span class="date-separate">
                 -
              </span>
              <label class="form-sub-label" for="month_34" id="sublabel_month" style="min-height:13px;"> Month </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input class="form-textbox validate[limitDate]" id="day_34" name="q34_endTime[day]" type="tel" size="2" data-maxlength="2" value="" />
              <span class="date-separate">
                 -
              </span>
              <label class="form-sub-label" for="day_34" id="sublabel_day" style="min-height:13px;"> Day </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input class="form-textbox validate[limitDate]" id="year_34" name="q34_endTime[year]" type="tel" size="4" data-maxlength="4" value="" />
              <label class="form-sub-label" for="year_34" id="sublabel_year" style="min-height:13px;"> Year </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <img class="showAutoCalendar" alt="Pick a Date" id="input_34_pick" src="https://cdn.jotfor.ms/images/calendar.png" style="vertical-align:middle;" data-component="datetime" />
              <label class="form-sub-label" for="input_34_pick" style="min-height:13px;">  </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_widget" id="id_35">
        <label class="form-label form-label-left" id="label_35" for="input_35"> Members </label>
        <div id="cid_35" class="form-input jf-required">
          <div style="width:100%;text-align:Left;" data-component="widget-field">
            <iframe frameborder="0" scrolling="no" allowtransparency="true" data-type="iframe" class="custom-field-frame" id="customFieldFrame_35" src="" style="border:none;width:300px;height:45px;" data-width="300" data-height="45">
            </iframe>
            <div class="widget-inputs-wrapper">
              <input id="input_35" class="form-hidden form-widget  " type="hidden" name="q35_clickTo" value="" />
              <input id="widget_settings_35" class="form-hidden form-widget-settings" type="hidden" value="%5B%7B%22name%22%3A%22options%22%2C%22value%22%3A%22Amy%5CnTony%5CnJerry%22%7D%2C%7B%22name%22%3A%22placeholder%22%2C%22value%22%3A%22Select%20friends%22%7D%2C%7B%22name%22%3A%22disableMultipleSelection%22%2C%22value%22%3A%22No%22%7D%5D" data-version="2" />
            </div>
            <script type="text/javascript">
            setTimeout(function()
{
  var _cFieldFrame = document.getElementById("customFieldFrame_35");
  _cFieldFrame.onload = function()
  {
    widgetFrameLoaded(35, {
      "formID": 70468076416157
    })
  };
  _cFieldFrame.src = "//widgets.jotform.io/multipleSelection/?qid=35&ref=" + encodeURIComponent(window.location.protocol + "//" + window.location.host);
  _cFieldFrame.addClassName("custom-field-frame-rendered");
}, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_37">
        <div class = "col-sm-6">
            <div id="cid_37" class="form-input-wide">
              <div style="text-align:center;" class="form-buttons-wrapper">
                <button id="input_37" type="submit" class="form-submit-button form-submit-button-light" data-component="button">
                  cancel
                </button>
              </div>
            </div>
        </div>
        <div class = "col-sm-6">
            <div id="cid_2" class="form-input-wide">
              <div style="text-align:right;" class="form-buttons-wrapper">
                <button id="input_2" type="submit" class="form-submit-button form-submit-button-blue" data-component="button">
                  Create
                </button>
              </div>
            </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = false;
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="70468076416157" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "70468076416157-70468076416157";
  </script>
  <script src="https://cdn.jotfor.ms/js/widgetResizer.js?REV=3.3.17512" type="text/javascript"></script>
</form></body>
</html>
<script type="text/javascript">JotForm.ownerView=true;</script>