        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>TravelAnt Sign In/Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <style type="text/css">
        body
{
    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20%;
    /*text-transform: uppercase;*/
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"], form.signup input[type="text"], form.signup input[type="password"], form.signup input[type="email"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"], form.signup input[type="submit"]{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover, form.signup input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login form.signup .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login form.sugnup .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a, form.signup label, form.signup a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a, form.signup a
{
    transition: color 0.5s ease;
}

form.login a:hover, from.signup a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    
    
<div class="container">
    
    <div class="row">

        <div>    
            <div class="wrap"> 
                <p class="appName">TravelAnt</p>
                <p class="slogan"> Makes Your Travel Easier.</p>

                <div id = "loginbox">
                <form class="login" method="get" action="/login">
                <!--form class="login"-->  
                    <input type="text" placeholder="Username" name="userName"/>
                    <input type="password" placeholder="Password" name="passWord"/>
                    <div class = "col-md-6">
                        <input type="submit" value="Sign In" class="btn btn-warning btn-sm" id="signIn" />
                    </div>
                    <div class = "col-md-6" id="toSignup">
                        <a href = "#" >Create an account</a>
                    </div>

                    <div class = "col-md-12">
                        <p class = "tip" style = "color: #d9edf7;">{{Tip}}</p>
                    </div>
                </form>
                </div>
                
                
                <div id = "signupbox" class = "hidden">
                <form class="signup" method="get" action="/signup">
                <!--form class="login"-->  
                    <input type="text" placeholder="Username" name="userName"/>
                    <input type="password" placeholder="Password" name="passWord"/>
                    <div class = "col-md-6" id="toLogin">
                        <a href = "#" >Have an account?</a>
                    </div>
                    
                    <div class = "col-md-6">
                        <input type="submit" value="Sign Up" class="btn btn-info btn-sm" id="signUp"/>
                    </div>
                </form>
                </div>
                
                
            </div>
        </div>
    </div>
<!--    <div class="posted-by">Posted By: <a href="http://www.jquery2dotnet.com">Bhaumik Patel</a></div> !-->
</div>

<script type="text/javascript">
 $(document).ready(function () {
    $('.startlogin').click(function(event) {
      $(".pr-wrap").toggleClass("show-pass-reset");
    }); 
    
    $('.pass-reset-submit').click(function(event) {
      $(".pr-wrap").removeClass("show-pass-reset");
    }); 
});
$('#toSignup').click(function(event){
    $('#loginbox').addClass("hidden");
    $('#signupbox').removeClass("hidden");
});
$('#toLogin').click(function(event){
    $('#loginbox').removeClass("hidden");
    $('#signupbox').addClass("hidden");
});
</script>
<script src="js/loginPage.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92985816-1', 'auto');
      ga('send', 'pageview');

    </script>
    
</body>
</html>
