<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=GBK">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelAnt</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <script src="http://unpkg.com/vue@latest"></script>
    <script src="http://unpkg.com/vue-select@latest"></script>
</head>

<body>
    

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                {{#user}}
                <img class="img-circle" src="{{imgURL}}"/>
                <div>
                    {{userName}}
                </div>
                {{/user}}
            </li>
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/myfriends">My Friends</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
            <li class = "hidden">
                <a href="/help">Help</a>
            </li>
            <li>
                <a href="/">Log Out</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color:#FF6600">
                        <span class="sr-only">Toggle navigation</span><i class="fa fa-plus"></i>
                    </button>
                    <a class="navbar-brand" id="app-name" href="/index"><span style="padding-right: 10px;background-color: transparent;"><button type="button" id="menu-button">
                    	<i class="fa fa-bars"></i>
                    </button></span>TravelAnt</a>
                </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right title-add">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a href="/addTrip"><i class="fa fa-plane"></i> Add trip</a>
                        </li>
                        <li>
                            <a href="/addFriend"><i class="fa fa-user"></i> Add friend</a>
                        </li>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->
            </div>
        <!-- /.container-fluid -->
        </nav>
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-10 page-content">
                    <h1>Settings</h1>
                        <div class = "well well-lg">
                            <form class="form-horizontal" method="post" action="/uploadImg" enctype="multipart/form-data">
                                <fieldset>
                                {{#user}}
                                <div class="avatar" id={{imgURL}}>
                                    
                                    <img class="img-circle" id="img-upload"> </img>
                                    <div>{{userName}}</div>
                                    {{/user}}
                                </div>
                                    
        
                                
                                                                <!-- TripName Text input-->
                                <!--div class="form-group">
                                  <label class="col-md-6 control-label" for="textinput">Select a new avator</label>  
                                  <div class="col-md-6">
                                  <input type="file" id="exampleInputFile" class="text-center">
                                  </div>
                                </div-->
                                
                                
                                <div class="row">
                                <div class="col-xs-12 col-sm-6 col-sm-push-3">
                                    <div class="form-group">
                                        <label>Upload Image</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp" accept="application/x-zip-compressed,image/*" name="userImg" required>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <!--img id='img-upload'/-->
                                    </div>
                                </div>
                                </div>
                                

                                <!-- Button (Double) -->
                                <div class="form-group text-center">                    
                                    <button id="save" name="save" type="submit" class="btn btn-primary">Save</button>
                                    <a href="/index" role="button" class="btn btn-danger">Cancel</a>       
                                </div>

                                </fieldset>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
    $("#menu-button").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
        
        
        $(document).ready( function() {
            $('#img-upload').attr('src', $('#img-upload').parent().attr('id'));    
            
            
            $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function(event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function(){
                readURL(this);
            }); 	
            
	});
    
    </script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92985816-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    
</body>
