.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    z-index: 0;
    font-family: Avenir;
}

.navbar-inverse{
    background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar-custom {
  background: #F7F7F7;
  font-family: Avenir; 
  font-weight: 700;
  padding:10px 0px;
}

.navbar-custom .navbar-header .navbar-brand{
    text-shadow: 2px 1px #dddddd;
    color: #FF6600;
    font-size: 36px;
    vertical-align: middle;
    padding-top: 14px;
}

.navbar-custom .navbar-collapse .title-add > li > a{
    color: #FF6600;
    font-size: 20px;
}

#wrapper #sidebar-wrapper, #wrapper #sidebar-wrapper .sidebar-nav > li > a{
    background: #52575E;
    font-family: Avenir;
    color:#F3F3F3;
}

.navbar-fixed-bottom,.navbar-fixed-top{
    position: absolute;
}

#menu-button{
    color:#FF6600; 
    font-size:26px; 
    background-color: transparent; 
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle{
    border:none;
    font-size:25px;
}

#page-content-wrapper .container-fluid{
    padding-top:60px;
}

#content.thumbnail{
    padding-top: 20px;
}

#trip-list.thumbnail{
    background-color: #EEEEEE;
}

.well.well-lg{
    border-radius: 3px;
    border-color: transparent;
    background-image:none;
    background-color: #EEEEEE;
    padding-top: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.trip-list{
    padding-top: 20px;
}

h1{
    font-family:avenir, 'avenir next', helvetica, arial, sans-serif;
    text-transform:capitalize;
    font-variant:small-caps;
}

h3{
    display:inline;
    font-size: 25px;
    font-family:avenir, 'avenir next', helvetica, sans-serif;
}
h4{
    padding-top: 20px;
    display: inline;
    font-weight:lighter;
    font-size: 18px;
}

.trip-content{
    margin: 10px;
}

.trip-detail{
    background-color:transparent; 
    font-size:30px;
}



.trip-date{
    margin-top:15px;
}

.trip-progress{
    margin-top:30px;
}

.progress{
    width: 80%;
    height: 13px;
    float: right;
}

.progress-bar{
    background-color: #ffb366;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;   
}


@media (max-width: 768px){
    .progress{
        float:left;
    }
    .trip-due{
        float:left;
    }
}
@media (min-width: 768px){
    .progress{
        float:right;
    }
    .trip-due{
        float:right;
    }
}

.btn-warning{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

.btn-danger{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

.btn-primary{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

.trip-button{
    float:right;
    width:80px;
    height: 30px;
    border-radius: 5px;
    border-color: #CC9933;
    color: #F3F3F3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.trip-button-plan{
    background-color: #FF5500;
}

.trip-button-view{
    background-color: #ff8000;
}

.img-circle{
    width: 40px;
    height: 40px;
}

.profile-down{
    margin-left: 10px;
}

.trip-foot{
    margin-top:30px;
}

.fa.fa-edit{
    font-size: 20px;
    margin-left: 10px;
}

.page-content{
    margin-top:80px;
}

.trip-member > a{
    color: #444444;
}

.row.trip-detail-progress{
    margin-top: 25px;
}

ul{
    list-style-type: none; 
    list-style-position:inside;
    margin:0; 
    padding:0; 
}

.activity-list{
    margin-top: 50px;
}


.well.well-lg.activity-item{
    min-height: 200px;
    max-height: 280px;
    height: 200px;
    padding: 0px;
}

.activity-img{
    width:100%;
    height: 100%;
}

@media(max-width: 992px){
    .activity-img{
        display: none;
    }
}

.img-rounded{
    border-radius: 3px;
}

.activity-content{
    margin: 30px;
}

.activity-comment{
    margin-top: 10px;
}

.activity-vote{
    font-size: 30px;
    float:right;
    margin-top: 20px;  
    color: #FF8800;
}

.activity-vote .activity-vote-num{
    font-size: 20px;
    margin-left: 10px;
}

.activity .trip-member{
    margin-top: 10px;
}

.sidebar-brand{
    margin:40px;
    text-align: center;
}

.avatar{
    margin:40px;
    text-align: center; 
}

.sidebar-brand div{
    text-indent:-30px;
}

.sidebar-brand .img-circle{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.avatar .img-circle{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto; 
}

.back{
    margin-top: 0px;
    margin-bottom: 10px;
}

.back .btn{
    background-color: #EEEEEE;
    float:left;
}

.back > a{
    color: #444444;
}

.activity-vote > a{
    color: #FF8800;
    text-decoration: none;
}

h1 > a{
    color: #444444;
}
.addbox {
    margin: 0 auto;
    width: 600px;
    position: relative;
    margin-top: 10%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}
.fa.disabled {
     color: lightgrey;
     opacity: 0.8;
     /*cursor: not-allowed;*/
}
.slogan {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2%;
    /*text-transform: uppercase;*/
    letter-spacing: 4px;
}

.appName {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20%;
    /*text-transform: uppercase;*/
    letter-spacing: 4px;
}
.v-select {
   background: white;!important 
}
.maxsize {
    width:50%;
}




.box {
    width: 100%;
}

.btn-addtrip{
    border: none;
    float: right;
    width: 150px;
    height: 40px;
    background-color: #ff8100;
    margin-top: 20px;
}

.well-form {
    padding-top: 60px;
}

.form-horizontal {
    margin-top: 20px;
}

#submitBtn {
    margin-top: 10px;
}

#Leave {
    width: 115px;
}

#editForm {
    text-align: center;
}

.editform {
    margin-top: 20px;
    text-align: center;
}



.hint {
    font-size: 13px;
}

.noActivity {
    font-size: 25px;
    text-align: center;
    color: #fdfdef;
    background-color: #FFAE19;
    padding: 20px;
    border-radius: 20px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100px;
    height: 100px;
}
.profilephoto {
    text-align: center;
}

.tip {
    color:floralwhite;
}

.plansubtitle {
    font-family:avenir, 'avenir next', helvetica, arial, sans-serif;
    color: dimgray; !important
    font-size: 15px; !important
}


@media (max-width: 800px) {
    .hovereffect {
        display: none;
    }
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:relative;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
height: 100%;
width: 100%;
display:block;
position:absolute;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
.fa.fa-external-link.yelplink {
    font-size: 20px;
    margin-left: 20px;
}

.addButton {
    margin-bottom: 30px;
}

.class{
    height: 50px;
}

.card{
    max-width: 150px;
}

.card-footer{
    background-color: #f9ab00;
    color: "#ffffff";
}